{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.5.2"}
]}.

%% for test
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [
    {dir, ["test/eunit"]}
]}.
{ct_opts, [
    {dir, ["test/ct"]},
    {sys_config, ["test/ct/ct_sys.config"]},
    {label, mn_climber},
    {readable, true}
%%    {ct_trace, ["test/ct/ct_trace.spec"]},
%%    {spec, ["test/ct/ct.spec"]},
%%    {suite, [mn_climber_SUITE]}, %% 只测试指定suite
%%    {testcase, [test_offline_reenter_room]}, %% 只测试指定testcase
%%    {ct_hooks, [{mn_climber_ct_hook, []}]}
]}.
%%{edoc_opts, [{packages, false}, {dir, "edoc"}]}.

%% profiles
{profiles, [
    % test
    {test, [
        {dist_node, [{name, 'mn_climber_test@127.0.0.1'}]},
        {erl_opts, [export_all]},
        {deps, [{meck, "0.8.9"}]}
    ]}
]}.